<div class="container my-4 mx-auto">
<h1>商品一覧</h1>
  <%= form_with url: items_path, method: :get, class: "d-flex gap-1 mb-3" do |f| %>
    <%= f.text_field "keyword", placeholder: "検索キーワード" %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
  
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-auto col-lg-3 mb-3">
        <div class="card">
          <%= image_tag item["mediumImageUrls"][0], class: 'card-img-top' %>
          <div class="card-body">
            <p class="card-title">
              <%= link_to resize_text(item["itemName"], 35), item_path(item["itemCode"]) %>
            </p>
            <p>
              <%= "#{item["itemPrice"]}円" %>
            </p>
            <p>
              <% score_array = @reviews.where(item_code: item["itemCode"]).pluck(:score) %>
              総合評価: <%= score_array.size > 0 ? score_array.sum.fdiv(score_array.size).round(2) : 'まだ評価がありません' %>
            </p>
            <p>
              <%= link_to "レビュー", new_review_path(item_code: item["itemCode"]) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center gap-3">
    <%= link_to "Prev", items_path(keyword: @items.params[:keyword], current_page: @items.params[:page], page_type: "prev") %>
    <%= link_to "Next", items_path(keyword: @items.params[:keyword], current_page: @items.params[:page], page_type: "next") %>
  </div>
</div>